<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.propify.challenge.mappers.PropertyMapper">

    <insert id="insert">
        INSERT INTO property (rent_price,type,address,emailAddress,code)
        VALUES (#{rentPrice} , #{type} , #{address} , #{emailAddress} , #{code});
    </insert>

    <update id="update">
        UPDATE property SET rent_price = #{rent_price},
        type = #{type},
        address = #{address},
        emailAddress = #{emailAddress},
        code = #{code}
        WHERE ID = #{id};
    </update>

    <delete id="delete">
        DELETE FROM property WHERE id = #{id}
    </delete>

    <select id="search" resultType="com.propify.challenge.entities.Property">
        SELECT * FROM property;
    </select>

    <select id="findById" resultType="com.propify.challenge.entities.Property">
        SELECT * FROM property WHERE id = #{id};
    </select>

</mapper>
